#Django Settings
SECRET_KEY=django-insecure-placeholder-key-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

#Database Settings (For when you switch to MySQL later)
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=3306